.affix {
      top: 0;
      width: 50%;
      margin: 0 25%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
img{
	width: 100%;
   }
.navbar-brand{
	font-size: 36px;
}
  /**{
  	border: 1px solid red;
  }*/